<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mrm_description)/urdf/mrm.xacro'"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz"/>
    
    <node name="RobotModelServer" pkg="mrm_publisher" type="RobotModelServer.py" >
    </node>
</launch>
